
body{
    font: 20px, Arial, sans-serif;
}
.navbar{
    background-color: #088A4B;
}

.quem-somos{
    background-color: #EFF2FB;
    color: #A9BCF5;
}

.margin{
     padding-bottom: 50px;
     padding-top: 10px;
}

.parceiros{
    background-color: #E0E6F8;
}

.bg-footer{
    background-color: black;
    color: white;
}
